<!DOCTYPE html>
<html>
<head>
  <title>Expedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBInghLZWYDJBA789Ga2_2qTmM5DLb1nno&libraries=places"></script>
</head>
<body>

<%= yield %>

</body>
</html>
